<div class="mat-elevation-z8" style="margin: 30px;" *ngIf="dataSource">
    <h1 class="display-3" style="padding: 40px;">list of employees</h1>

    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput placeholder="" search (keyup)="applyFilter($event)" #input/>
    </mat-form-field>

    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>phone</th>
        <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="salary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>salary</th>
        <td mat-cell *matCellDef="let row"> {{row.salary}} </td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>department</th>
        <td mat-cell *matCellDef="let row"> {{row.department}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row"> <a mat-stroked-button [routerLink]="['/employees', 'edit', row.id]">view</a> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-labels="select page of users"></mat-paginator>
</div>